<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ComposeServlet</servlet-name>
        <servlet-class>ComposeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCon</servlet-name>
        <servlet-class>GetCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InboxServlet</servlet-name>
        <servlet-class>InboxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyListener</servlet-name>
        <servlet-class>MyListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyLogin</servlet-name>
        <servlet-class>VerifyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reply</servlet-name>
        <servlet-class>reply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editprofile</servlet-name>
        <servlet-class>editprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileupload1</servlet-name>
        <servlet-class>fileupload1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RServlet</servlet-name>
        <servlet-class>RServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComposeServlet</servlet-name>
        <url-pattern>/ComposeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCon</servlet-name>
        <url-pattern>/GetCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InboxServlet</servlet-name>
        <url-pattern>/InboxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyListener</servlet-name>
        <url-pattern>/MyListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyLogin</servlet-name>
        <url-pattern>/VerifyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reply</servlet-name>
        <url-pattern>/reply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editprofile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileupload1</servlet-name>
        <url-pattern>/fileupload1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RServlet</servlet-name>
        <url-pattern>/RServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
