/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Nov, 2016, 1:32:45 PM
    Author     : sai
*/

body{
       background-color:  #cfd2da;
            
        }
        .leftside{
             background-color:  #cfd2da;
            height: 900px;
        }
        .topmargin{
            margin-top: 30px;
        }
       .topmargin a {
    padding: 30px;
    
    
}
#img:hover {
    width: 100px;
    height: 100px;
} 